{{block "index" .}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link href="./css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  {{range .Variants}}
  <div class="card">
    <div class="image-container">
      <img src="{{.ImageLink}}" alt="There is supposed to be a picture here" class="product-image">
    </div>
    <h3>{{.ProductTitle}}</h3>
    <p>{{.VariantName}}</p>

    <h4>₹{{.Price}}</h4>
  </div>
  {{end}}
</body>

</html>
{{end}}
