{{define "pagination"}}
<div class="pagination">
  {{if .HasPrevious}}
  <a href="?page={{.PreviousPage}}" class="pagination__link">Previous</a>
  {{else}}
  <span class="pagination__link pagination__link--disabled">Previous</span>
  {{end}}

  <span class="pagination__info">Page {{.CurrentPage}} of {{.TotalPages}}</span>

  {{if .HasNext}}
  <a href="?page={{.NextPage}}" class="pagination__link">Next</a>
  {{else}}
  <span class="pagination__link pagination__link--disabled">Next</span>
  {{end}}
</div>
{{end}}
