.product-image {
  width: 25%;
  height: auto;
  mix-blend-mode: multiply;
  background: transparent;
  overflow: hidden;
  position: relative;
}

.card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}
